html {
	background-color: #123;
	font-family: sans-serif;
}

body {
	max-width: 600px;
	background: #fff;
	margin: 0 auto;
	padding: 10px 15px;
	box-shadow: 0 0 20px rgba(0, 0, 0, .3);
}

button,
.button {
	font-size: .8em;
	text-decoration: none;
	color: #123;
	padding: 10px;
	border: solid #123 1px;
	border-radius: 5px;
	background: #fff;
	transition: .3s;
}

button:hover,
button.currPage,
.button:hover {
	background: #123;
	color: #fff;
	cursor: pointer;
}

label {
	padding: 0 5px 5px 0;
	vertical-align: top;
}

textarea {
	display: block;
	border-color: #ddd;
}

form div {
	padding: 10px;
}

h1,
h2,
h3 {
	color: #123;
}

textarea {
	width: 100%;
}

#map {
	width: 100%;
	height: 300px;
}

.header {
	display: flex;
}

.header h2 {
	flex-grow: 1;
	margin: 0;
}

.header .button {
	margin-bottom: 15px;
	height: initial;
}

.error {
	display: none;
	padding: 5px;
	margin: 5px;
	position: absolute;
	background-color: #faa;
	color: #200;
}
